/* ====================================
// css variables
// ==================================== */

:root {
  --violet: #D7A1FD;
  --white: #ffffff;
  --black: #000000;
  --green: #98FB00;
  --beige: #F4EDE8;
  --grey: #313131;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 428px;
  margin: auto;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  text-align: center;
  background: var(--violet);
  text-transform: uppercase;
  font-family: 'Noto Serif';
  font-size: 20px;
  line-height: 24px;
}

header .section-titre {
  padding: 20px;
}

header h1 {
  font-family: 'Nunito Sans';
  font-size: 50px;
  line-height: 50px;
}

header h1 span {
  font-family: 'Noto Serif';
  font-weight: 300;
}

header p {
  margin: 10px 0 0 0;
  color: var(--white);
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

header nav {
  padding: 10px;
  background: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav a {
  margin: 10px;
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 22px;
}

main h2 {
  margin: 30px 0;
  line-height: 50px;
}

main .section-program {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
}

main .section-program-container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

main .section-program h2 {
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

main .section-program-container .suggestion {
  width: 49%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main .section-program .border {
  border: 1px solid var(--black);
  border-top: 0;
  padding: 20px;
  height: 100%;
}

main .section-program hr {
  margin: 0;
  border: 3px solid var(--violet);
}

main .section-program h3 {
  font-family: Nunito Sans;
  font-size: 18px;
  line-height: 24px;
}

main .section-program h3,
main .section-program h4,
main .section-program p {
  margin: 0;
  margin-bottom: 20px;
}

main .section-program p,
main .section-program h4 {
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
}

main .section-program .call-to-action-see-full {
  height: 55px;
  margin: 30px 77px;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--violet);
  background: var(--black);
  border: 0px;
  transition: all 0.5s;
}

main .section-program .call-to-action-see-full:hover {
  background: #e3bdff;
  color: var(--black);
}

main .section-quote {
  padding: 20px;
  background-color: var(--green);
}

main .section-quote p {
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

main .section-quote .quote {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

main .section-new {
  padding: 30px 20px 60px 20px;
  background: var(--beige);
}

main .section-new h2 {
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase
}

main .section-new .section-new-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

main .section-new .suggestion {
  width: 49%;
  background: var(--white);
  border-radius: 20px;
}

main .section-new img {
  border-radius: 20px 20px 0 0;
}

main .section-new p {
  padding: 20px;
  font-family: Noto Serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px; /* 146.667% */

}

main .section-new .uppercase-weight {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
}

main .section-opportunities h2 {
  margin: 0;
  padding: 20px;
  background: var(--violet);
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
  letter-spacing: -2.5px;
  text-transform: uppercase;
}

main .section-opportunities-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  padding: 0 0 60px 0;
}

main .section-opportunities .box {
  width: 50%;
  padding: 20px 10px;
  border: 1px solid var(--black);
  background: var(--green);
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: 24px; 
  font-size: 20px;
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
}

main .section-opportunities .no-border-left {
  border-left: 0;
}

main .section-opportunities .no-border-right {
  border-top: 0;
}

footer {
  padding: 20px 20px 110px 20px;
  color: var(--grey);
  text-align: center;
  font-family: 'Nunito Sans';
  text-transform: uppercase;
  background: var(--black);
}

footer h2 {
  margin: 0 0 20px 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

footer .container {
  display: flex;
  flex-direction: row;
}

footer .box {
  width: 50%;
}

footer h3,
a {
  text-decoration: none;
  font-size: 13px;
  color: var(--white);
}

footer a {
  font-weight: 300;
  font-family: 'noto serif';
  text-transform: lowercase;
}